<!-- <app-student-dashboard></app-student-dashboard>
<hr>
<hr>
<app-smart-tracker></app-smart-tracker>
<hr>
<hr>
<app-task-manager></app-task-manager>
<hr>
<hr>
<app-feedback></app-feedback> -->
<!-- app.component.html -->
<nav class="navbar">
  <h1>📘 Assignments Portal</h1>
  <ul>
    <li><a routerLink="/task-manager" routerLinkActive="active">Task Manager</a></li>
    <li><a routerLink="/student-dashboard" routerLinkActive="active">Student Dashboard</a></li>
    <li><a routerLink="/feedback-portal" routerLinkActive="active">Feedback Portal</a></li>
  </ul>
</nav>

<router-outlet></router-outlet>
